# Indexing

In [1]:
import pandas as pd

In [2]:
oo = pd.read_csv('data/olympics.csv',skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

## Indexing

In [3]:
type(oo.index)

pandas.core.indexes.range.RangeIndex

In [4]:
oo.index[100]

100

In [5]:
# oo.index[100] = 8

## set_index()

In [6]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [7]:
oo.set_index('Athlete')

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver
"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Bronze
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,1200m freestyle,M,Gold
"ANDREOU, Joannis",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Silver
"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Bronze
"NEUMANN, Paul",Athens,1896,Aquatics,Swimming,AUT,Men,400m freestyle,M,Gold
"PEPANOS, Antonios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Silver
"LANE, Francis",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Bronze
"SZOKOLYI, Alajos",Athens,1896,Athletics,Athletics,HUN,Men,100m,M,Bronze
"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Gold
"HOFMANN, Fritz",Athens,1896,Athletics,Athletics,GER,Men,100m,M,Silver
"CURTIS, Thomas",Athens,1896,Athletics,Athletics,USA,Men,110m hurdles,M,Gold
"GOULDING, Grantley",Athens,1896,Athletics,Athletics,GBR,Men,110m hurdles,M,Silver
"LERMUSIAUX, Albin",Athens,1896,Athletics,Athletics,FRA,Men,1500m,M,Bronze
"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,1500m,M,Gold
"BLAKE, Arthur",Athens,1896,Athletics,Athletics,USA,Men,1500m,M,Silver
"GMELIN, Charles",Athens,1896,Athletics,Athletics,GBR,Men,400m,M,Bronze
"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Gold
"JAMISON, Herbert",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Silver
"GOLEMIS, Dimitrios",Athens,1896,Athletics,Athletics,GRE,Men,800m,M,Bronze
"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,800m,M,Gold
"DANI, Nandor",Athens,1896,Athletics,Athletics,HUN,Men,800m,M,Silver
"VERSIS, Sotirios",Athens,1896,Athletics,Athletics,GRE,Men,discus throw,M,Bronze
"GARRETT, Robert",Athens,1896,Athletics,Athletics,USA,Men,discus throw,M,Gold
"PARASKEVOPOULOS, Panagiotis",Athens,1896,Athletics,Athletics,GRE,Men,discus throw,M,Silver
"CLARK, Ellery",Athens,1896,Athletics,Athletics,USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...
"MUTALIMOV, Marid",Beijing,2008,Wrestling,Wrestling Free.,KAZ,Men,96 - 120kg,M,Bronze
"TAYMAZOV, Artur",Beijing,2008,Wrestling,Wrestling Free.,UZB,Men,96 - 120kg,M,Gold
"AKHMEDOV, Bakhtiyar",Beijing,2008,Wrestling,Wrestling Free.,RUS,Men,96 - 120kg,M,Silver
"AMOYAN, Roman",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,- 55kg,M,Bronze
"PARK, Eun-Chul",Beijing,2008,Wrestling,Wrestling Gre-R,KOR,Men,- 55kg,M,Bronze
"MANKIEV, Nazyr",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,- 55kg,M,Gold
"BAYRAMOV, Rovshan",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,- 55kg,M,Silver
"TENGIZBAYEV, Nurbakyt",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,55 - 60kg,M,Bronze
"TIUMENBAEV, Ruslan",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,55 - 60kg,M,Bronze
"ALBIEV, Islam-Beka",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,55 - 60kg,M,Gold
"RAHIMOV, Vitaliy",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,55 - 60kg,M,Silver
"SIAMIONAU, Mikhail",Beijing,2008,Wrestling,Wrestling Gre-R,BLR,Men,60 - 66kg,M,Bronze
"VARDANYAN, Armen",Beijing,2008,Wrestling,Wrestling Gre-R,UKR,Men,60 - 66kg,M,Bronze
"GUENOT, Steeve",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,60 - 66kg,M,Gold
"BEGALIEV, Kanatbek",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,60 - 66kg,M,Silver
"GUENOT, Christophe",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,66 - 74kg,M,Bronze
"YANAKIEV, Yavor",Beijing,2008,Wrestling,Wrestling Gre-R,BUL,Men,66 - 74kg,M,Bronze
"KVIRKELIA, Manuchar",Beijing,2008,Wrestling,Wrestling Gre-R,GEO,Men,66 - 74kg,M,Gold
"CHANG, Yongxiang",Beijing,2008,Wrestling,Wrestling Gre-R,CHN,Men,66 - 74kg,M,Silver
"AVLUCA, Nazmi",Beijing,2008,Wrestling,Wrestling Gre-R,TUR,Men,74 - 84kg,M,Bronze
"MINGUZZI, Andrea",Beijing,2008,Wrestling,Wrestling Gre-R,ITA,Men,74 - 84kg,M,Gold
"FODOR, Zoltan",Beijing,2008,Wrestling,Wrestling Gre-R,HUN,Men,74 - 84kg,M,Silver
"MAMBETOV, Asset",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,84 - 96kg,M,Bronze
"WHEELER, Adam",Beijing,2008,Wrestling,Wrestling Gre-R,USA,Men,84 - 96kg,M,Bronze
"KHUSHTOV, Aslanbek",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,84 - 96kg,M,Gold
"ENGLICH, Mirko",Beijing,2008,Wrestling,Wrestling Gre-R,GER,Men,84 - 96kg,M,Silver
"MIZGAITIS, Mindaugas",Beijing,2008,Wrestling,Wrestling Gre-R,LTU,Men,96 - 120kg,M,Bronze
"PATRIKEEV, Yuri",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,96 - 120kg,M,Bronze
"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold
"BAROEV, Khasan",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,96 - 120kg,M,Silver

In [8]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [9]:
ath = oo.set_index('Athlete')

In [10]:
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [11]:
oo.set_index('Athlete',inplace=True)

In [12]:
oo.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

## reset_index()

In [13]:
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [14]:
oo.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [15]:
ath1 = ath.reset_index()
ath1.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [16]:
oo.reset_index(inplace=True)
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

## sort_index()

In [17]:
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [18]:
ath.sort_index(inplace=True)
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"AABYE, Edgar",Paris,1900,Tug of War,Tug of War,ZZX,Men,tug of war,M,Gold
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,200m breaststroke,M,Bronze
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,400m breaststroke,M,Bronze
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,pommel horse,M,Gold
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,team competition,M,Gold

In [19]:
ath.sort_index(inplace=True,ascending=False)
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"ÖSTRAND, Per-Olof",Helsinki,1952,Aquatics,Swimming,SWE,Men,400m freestyle,M,Bronze
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, 3 positions",M,Bronze
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, standing",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, prone",M,Bronze

## loc[...]

In [20]:
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [21]:
oo.loc[1]

Athlete         HERSCHMANN, Otto
City                      Athens
Edition                     1896
Sport                   Aquatics
Discipline              Swimming
NOC                          AUT
Gender                       Men
Event             100m freestyle
Event_gender                   M
Medal                     Silver
Name: 1, dtype: object

In [22]:
oo.loc[[1,3,5,7]]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
5,"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Bronze
7,"ANDREOU, Joannis",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Silver

In [23]:
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"ÖSTRAND, Per-Olof",Helsinki,1952,Aquatics,Swimming,SWE,Men,400m freestyle,M,Bronze
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, 3 positions",M,Bronze
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, standing",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, prone",M,Bronze

In [24]:
oo[oo.Athlete == 'MALOKINIS, Ioannis']

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold

In [25]:
# oo.loc['MALOKINIS, Ioannis']

In [26]:
ath.loc['MALOKINIS, Ioannis']

City                                Athens
Edition                               1896
Sport                             Aquatics
Discipline                        Swimming
NOC                                    GRE
Gender                                 Men
Event           100m freestyle for sailors
Event_gender                             M
Medal                                 Gold
Name: MALOKINIS, Ioannis, dtype: object

In [27]:
ath.loc[['MALOKINIS, Ioannis','DRIVAS, Dimitrios']]

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze

## iloc

In [28]:
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"ÖSTRAND, Per-Olof",Helsinki,1952,Aquatics,Swimming,SWE,Men,400m freestyle,M,Bronze
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, 3 positions",M,Bronze
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, standing",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, prone",M,Bronze

In [29]:
ath.sort_index(inplace=True)

In [30]:
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"AABYE, Edgar",Paris,1900,Tug of War,Tug of War,ZZX,Men,tug of war,M,Gold
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,200m breaststroke,M,Bronze
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,400m breaststroke,M,Bronze
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,vault,M,Gold
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,team competition,M,Gold

In [31]:
ath.loc[1]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [32]:
ath.iloc[1]

City                      Antwerp
Edition                      1920
Sport                    Aquatics
Discipline               Swimming
NOC                           FIN
Gender                        Men
Event           200m breaststroke
Event_gender                    M
Medal                      Bronze
Name: AALTONEN, Arvo Ossian, dtype: object

In [34]:
ath.iloc[[1,5,7,9]]

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,200m breaststroke,M,Bronze
"AALTONEN, Paavo Johannes",Helsinki,1952,Gymnastics,Artistic G.,FIN,Men,team competition,M,Bronze
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,pommel horse,M,Gold
"AANING, Alf Lied",Antwerp,1920,Gymnastics,Artistic G.,NOR,Men,"team, free system",M,Silver

In [35]:
ath.iloc[50:55]

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"ABDUL, Rashid III",Montreal,1976,Hockey,Hockey,PAK,Men,hockey,M,Bronze
"ABDUL, Rashid IV",Los Angeles,1984,Hockey,Hockey,PAK,Men,hockey,M,Gold
"ABDUL, Waheed",Rome,1960,Hockey,Hockey,PAK,Men,hockey,M,Gold
"ABDULBEKOV, Zagalav",Munich,1972,Wrestling,Wrestling Free.,URS,Men,57 - 62kg (featherweight),M,Gold
"ABDULLAYEV, Namig",Atlanta,1996,Wrestling,Wrestling Free.,AZE,Men,48 - 52kg (flyweight),M,Silver

In [36]:
oo.iloc[5:10]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
5,"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Bronze
6,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,1200m freestyle,M,Gold
7,"ANDREOU, Joannis",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Silver
8,"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Bronze
9,"NEUMANN, Paul",Athens,1896,Aquatics,Swimming,AUT,Men,400m freestyle,M,Gold