# DataFrames

In [1]:
import pandas as pd

In [2]:
oo = pd.read_csv('./data/olympics.csv',skiprows=4)

In [3]:
type(oo)

pandas.core.frame.DataFrame

In [4]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [5]:
oo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
10,Athens,1896,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
11,Athens,1896,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
12,Athens,1896,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
14,Athens,1896,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
16,Athens,1896,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver
17,Athens,1896,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
20,Athens,1896,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
22,Athens,1896,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
23,Athens,1896,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze
24,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
26,Athens,1896,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze
27,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
28,Athens,1896,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29186,Beijing,2008,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
29187,Beijing,2008,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29188,Beijing,2008,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
29189,Beijing,2008,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
29190,Beijing,2008,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
29191,Beijing,2008,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29192,Beijing,2008,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
29193,Beijing,2008,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
29194,Beijing,2008,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
29195,Beijing,2008,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29196,Beijing,2008,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
29197,Beijing,2008,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
29198,Beijing,2008,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29200,Beijing,2008,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29201,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
29202,Beijing,2008,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29204,Beijing,2008,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29205,Beijing,2008,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29207,Beijing,2008,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29208,Beijing,2008,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29209,Beijing,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

# Series

In [6]:
oo.head(8)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver

In [7]:
oo.City

0         Athens
1         Athens
2         Athens
3         Athens
4         Athens
5         Athens
6         Athens
7         Athens
8         Athens
9         Athens
10        Athens
11        Athens
12        Athens
13        Athens
14        Athens
15        Athens
16        Athens
17        Athens
18        Athens
19        Athens
20        Athens
21        Athens
22        Athens
23        Athens
24        Athens
25        Athens
26        Athens
27        Athens
28        Athens
29        Athens
          ...
29186    Beijing
29187    Beijing
29188    Beijing
29189    Beijing
29190    Beijing
29191    Beijing
29192    Beijing
29193    Beijing
29194    Beijing
29195    Beijing
29196    Beijing
29197    Beijing
29198    Beijing
29199    Beijing
29200    Beijing
29201    Beijing
29202    Beijing
29203    Beijing
29204    Beijing
29205    Beijing
29206    Beijing
29207    Beijing
29208    Beijing
29209    Beijing
29210    Beijing
29211    Beijing
29212    Beijing
29213    Beijing
29214    Beijing
29215    Beijing
Name: City, Length: 29216, dtype: object

In [8]:
oo.Edition

0        1896
1        1896
2        1896
3        1896
4        1896
5        1896
6        1896
7        1896
8        1896
9        1896
10       1896
11       1896
12       1896
13       1896
14       1896
15       1896
16       1896
17       1896
18       1896
19       1896
20       1896
21       1896
22       1896
23       1896
24       1896
25       1896
26       1896
27       1896
28       1896
29       1896
         ...
29186    2008
29187    2008
29188    2008
29189    2008
29190    2008
29191    2008
29192    2008
29193    2008
29194    2008
29195    2008
29196    2008
29197    2008
29198    2008
29199    2008
29200    2008
29201    2008
29202    2008
29203    2008
29204    2008
29205    2008
29206    2008
29207    2008
29208    2008
29209    2008
29210    2008
29211    2008
29212    2008
29213    2008
29214    2008
29215    2008
Name: Edition, Length: 29216, dtype: int64

In [9]:
type(oo.City)

pandas.core.series.Series

In [10]:
oo.iloc[2]

City                                Athens
Edition                               1896
Sport                             Aquatics
Discipline                        Swimming
Athlete                  DRIVAS, Dimitrios
NOC                                    GRE
Gender                                 Men
Event           100m freestyle for sailors
Event_gender                             M
Medal                               Bronze
Name: 2, dtype: object

In [11]:
type(oo.iloc[2])

pandas.core.series.Series

In [12]:
oo['City']

0         Athens
1         Athens
2         Athens
3         Athens
4         Athens
5         Athens
6         Athens
7         Athens
8         Athens
9         Athens
10        Athens
11        Athens
12        Athens
13        Athens
14        Athens
15        Athens
16        Athens
17        Athens
18        Athens
19        Athens
20        Athens
21        Athens
22        Athens
23        Athens
24        Athens
25        Athens
26        Athens
27        Athens
28        Athens
29        Athens
          ...
29186    Beijing
29187    Beijing
29188    Beijing
29189    Beijing
29190    Beijing
29191    Beijing
29192    Beijing
29193    Beijing
29194    Beijing
29195    Beijing
29196    Beijing
29197    Beijing
29198    Beijing
29199    Beijing
29200    Beijing
29201    Beijing
29202    Beijing
29203    Beijing
29204    Beijing
29205    Beijing
29206    Beijing
29207    Beijing
29208    Beijing
29209    Beijing
29210    Beijing
29211    Beijing
29212    Beijing
29213    Beijing
29214    Beijing
29215    Beijing
Name: City, Length: 29216, dtype: object

In [13]:
type(oo['City'])

pandas.core.series.Series

In [14]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [15]:
oo[['City','Sport','Event']]

          City      Sport                       Event
0       Athens   Aquatics              100m freestyle
1       Athens   Aquatics              100m freestyle
2       Athens   Aquatics  100m freestyle for sailors
3       Athens   Aquatics  100m freestyle for sailors
4       Athens   Aquatics  100m freestyle for sailors
5       Athens   Aquatics             1200m freestyle
6       Athens   Aquatics             1200m freestyle
7       Athens   Aquatics             1200m freestyle
8       Athens   Aquatics              400m freestyle
9       Athens   Aquatics              400m freestyle
10      Athens   Aquatics              400m freestyle
11      Athens  Athletics                        100m
12      Athens  Athletics                        100m
13      Athens  Athletics                        100m
14      Athens  Athletics                        100m
15      Athens  Athletics                110m hurdles
16      Athens  Athletics                110m hurdles
17      Athens  Athletics                       1500m
18      Athens  Athletics                       1500m
19      Athens  Athletics                       1500m
20      Athens  Athletics                        400m
21      Athens  Athletics                        400m
22      Athens  Athletics                        400m
23      Athens  Athletics                        800m
24      Athens  Athletics                        800m
25      Athens  Athletics                        800m
26      Athens  Athletics                discus throw
27      Athens  Athletics                discus throw
28      Athens  Athletics                discus throw
29      Athens  Athletics                   high jump
...        ...        ...                         ...
29186  Beijing  Wrestling                  96 - 120kg
29187  Beijing  Wrestling                  96 - 120kg
29188  Beijing  Wrestling                  96 - 120kg
29189  Beijing  Wrestling                      - 55kg
29190  Beijing  Wrestling                      - 55kg
29191  Beijing  Wrestling                      - 55kg
29192  Beijing  Wrestling                      - 55kg
29193  Beijing  Wrestling                   55 - 60kg
29194  Beijing  Wrestling                   55 - 60kg
29195  Beijing  Wrestling                   55 - 60kg
29196  Beijing  Wrestling                   55 - 60kg
29197  Beijing  Wrestling                   60 - 66kg
29198  Beijing  Wrestling                   60 - 66kg
29199  Beijing  Wrestling                   60 - 66kg
29200  Beijing  Wrestling                   60 - 66kg
29201  Beijing  Wrestling                   66 - 74kg
29202  Beijing  Wrestling                   66 - 74kg
29203  Beijing  Wrestling                   66 - 74kg
29204  Beijing  Wrestling                   66 - 74kg
29205  Beijing  Wrestling                   74 - 84kg
29206  Beijing  Wrestling                   74 - 84kg
29207  Beijing  Wrestling                   74 - 84kg
29208  Beijing  Wrestling                   84 - 96kg
29209  Beijing  Wrestling                   84 - 96kg
29210  Beijing  Wrestling                   84 - 96kg
29211  Beijing  Wrestling                   84 - 96kg
29212  Beijing  Wrestling                  96 - 120kg
29213  Beijing  Wrestling                  96 - 120kg
29214  Beijing  Wrestling                  96 - 120kg
29215  Beijing  Wrestling                  96 - 120kg

[29216 rows x 3 columns]

In [16]:
type(oo[['City','Sport','Event']])

pandas.core.frame.DataFrame

In [17]:
oo[['City','Sport','Event']].tail()

          City      Sport       Event
29211  Beijing  Wrestling   84 - 96kg
29212  Beijing  Wrestling  96 - 120kg
29213  Beijing  Wrestling  96 - 120kg
29214  Beijing  Wrestling  96 - 120kg
29215  Beijing  Wrestling  96 - 120kg